body {
  background-color: #e287b5;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffd520;
  font-size: 3rem;
  margin: 0;
  text-shadow: #000 3px 3px;
}

svg {
  cursor: pointer;
  height: 400px;
  width: 400px;
}

a, a:focus, a:visited {
  color: #000;
  text-decoration: none;
}

#doughnut {
  user-select: none;
}

.info {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.disclaimer {
  font-size: 14px;
}


.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}
